<div class="libro-detalle" data-element="wrapper">
    <div class="libro-header">
        <div class="libro-info">
            <h1 data-element="title"></h1>
            <p class="autor" data-element="author"></p>
            <p class="isbn" data-element="isbn"></p>
            <p class="precio" data-element="price"></p>
            <p class="stock" data-element="stock"></p>
            <div class="libro-actions">
                <a href="/login" data-link class="btn btn-primary">
                    Inicia sesión para comprar
                </a>
            </div>
        </div>
    </div>
</div>